<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Chart test</span>
</div>

<div class="content" role="main">
  <div class="row">
    <h1>Js simple chart test</h1>
    <p>
      Click inside the graph to change from month to day and from day to hours.
    </p>
    <p>Click in the reset button to reset the changes or generate new data.</p>
  </div>
  <div class="row">
    <canvas id="chart-canvas"></canvas>
  </div>
  <div class="row">
    <button role="button" (click)="reset()">Reset</button>
  </div>
</div>
